p {
  color: black;
}

h4 {
  margin: 10px 0 10px 0;
}

body {
  background-color: #6eb4ee;
}

.main {
  position: relative; 
  display: flex;
  flex-direction: row;  
  justify-content: center;
  padding: 20px;  
}

.trello-list {
  /* position: relative;  */
  width: 300px;
  background-color: rgb(226, 226, 226);
  padding: 10px;
  margin: 20px;
}

.overlapped {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  opacity: 0.1;
  width: 10%;
  height: 10%;
}

.overlap {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  width: 10%;
  height: 10%;
  background: #eee;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}

.text-preview {
  height: 200px;
  width: 100%;
  border: 1px dashed black;
  border-radius: 5px;
}

.drop-area {
  height: 200px;
  width: 100%;
  border: 1px dashed red;
  border-radius: 5px;
}

.items {
  /* position: relative;  */
  padding: 0px;
  margin: 0;
  background-color: rgb(226, 226, 226);
  list-style-type: none;
  
}

.items-item {
  position: relative; 
  width: 280px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #999;
  padding: 10px;
  margin-bottom: -1px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.items-item.dragged {
  position: absolute;
  width: 280px;
  border-radius: 10px;
  pointer-events: none;
  background: #fff;
  cursor: grabbing;
  z-index: 999;
}

.form {
  width: 280px;
  height: auto;
  margin-top: 10px
}

.form-input {
  width: 280px;
  height: 30px;
}

.btn-add {
  margin-top: 3px;
  background-color: rgb(91, 187, 91);
  color: white;
}


.btn-add-form {
  margin-top: 10px;
  border: none;
}

.btn-add-form:hover {
  background-color: rgb(199, 197, 197);
}

.form-textarea {
  resize: none;
}

.disable {
  display: none;
}

.btn-item-close {
  position: absolute;  
  top: 3px;
  right: 3px;
}

.hidden {
  display: none;
}