p {
  color: black;
}

h4 {
  margin: 10px 0 10px 0;
}

body {
  background-color: #6eb4ee;
}

.main {
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  
}

.trello-list {
  width: 30%;
  background-color: rgb(226, 226, 226);
  padding: 10px;
}

.overlapped {
  /* position: absolute; */
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  opacity: 0.1;
  width: 10%;
  height: 10%;
}

.overlap {
  /* position: absolute; */
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  width: 10%;
  height: 10%;
  background: #eee;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}

.text-preview {
  height: 200px;
  width: 100%;
  border: 1px dashed black;
  border-radius: 5px;
}

.drop-area {
  height: 200px;
  width: 100%;
  border: 1px dashed red;
  border-radius: 5px;
}

.items {
  padding: 0px;
  background-color: rgb(226, 226, 226);
  list-style-type: none;
  margin: 0;
}

.items-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid #999;
  padding: 10px;
  margin-bottom: -1px;
  cursor: pointer;
}

.items-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.items-item:last-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.items-item.dragged {
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: #fff;
}

.btn-add-card {
  margin-top: 10px;
}